#footer{
    background-color: dimgrey;
    color: midnightblue;
    text-shadow: 2px 2px 0px firebrick;
    bottom: 0;
    border-radius: 10px;
    line-height: 2;
    font-size: 27px;
    font-family: fantasy;
}